.content-line-vid{
    font-size: 14px;
    font-family: Verdana, Geneva, sans-serif; /* шрифт*/
    padding: 25px 260px;

}

/* Члебная крошка*/
   .crochca{
    display: block;
   
   }
     .crochca a{
        color: #565656;
     }
        .crochca a:hover{
            text-decoration: none;
        }
     
            .crochca span{
              color: #579dc3;  
            }
            
            
/* Сортировка*/      
.sort{
       background-color: #fafbfb; 
       display: block;  
       margin-top: 20px; 
       color: #bbbbbb;      
}

  .vid{ /* позиционмрование картинки*/
   position: relative; 
   /* relative-Положение элемента устанавливается относительно его исходного места. Добавление свойств left, top, right и bottom 
    изменяет позицию элемента и сдвигает его в ту или иную сторону от первоначального расположения. */
    
   top: 3px;
    } 
    
     .sort span{
        margin-left: 10px;
     }
  
        .sort-bot{ /* картинку на фон поставить*/
          background-image: url(../images/sort-bot.gif);
          background-repeat: no-repeat;
          background-position: left 5px ; 
          /* background-position: Задает начальное положение фонового изображения, установленного с помощью свойства background-image.
             У свойства background-position два значения, положение по горизонтали (может быть — left, center, right) и вертикали 
            (может быть — top, center, bottom) */
          padding: 0 0 0 15px;
         }
         
         
         .sort-top{
          background-image: url(../images/sort-top.gif);
          background-repeat: no-repeat;
          background-position: left 5px ; 
          padding: 0 0 0 15px; 
         }
         
         .sort-top-act{
          background-image: url(../images/sort-top-act.gif);
          background-repeat: no-repeat;
          background-position: left 5px ; 
          padding: 0 0 0 15px;  
         }
  
            .sort p{
             padding: 10px;
             display:block;
             margin-top: 10px ;
             border-bottom: 1px solid #dee7ec;
             font-size: 12px;
             }
     
                .sort p a{
                color: #bbbbbb;
                 }
         
                 .sort p a:hover{
                 color: #000000;  
                  }
               
/* ++ Текст с описанием ++*/              
.text-c-silkoy{
    margin-top: 35px;
    overflow: hidden;
    
}                  
        /* Div- картинки телефона*/
     .image-mini-phone{
     float: left;
     margin-right: 10px;
        }
        
        /* текст*/
     
     .mini-description {
       padding: 0 140px 0 60px; /* ОТСТУПЫ*/
      font-size: 12px;
      font-family: Verdana, Geneva, sans-serif; /* шрифт*/
      }
      
          .mini-description a{
           color: #2b8aba;

             }

        /* цена + корзина + подробности*/     
      .price-basket-more-detailed{
       float: right;
       margin-left: 5px;
      }
      
        .price-basket-more-detailed p{
         font-size: 24px; 
         padding: 0;
         font-family: Candara, Geneva, sans-serif; /* шрифт*/
         }
         
         .price-basket-more-detailed p span{
         font-size: 12px;
         font-family: Verdana, Geneva, sans-serif; /* шрифт*/
         line-height: ;
         }
         
         .img-opisanie{
            height: 25px; /* ЕСЛИ НЕ БУДЕТ НИКАКИХ КАРТИНОК- фиксированная высота*/
         }
         
         .add-to-cart{
            margin: 3px 0;
            width: 123px;
            height: 27px;
         }
         
         .ico-line-lider{
            margin: 0 7px;
         }
         
         .price-basket-more-detailed a{
            color: #000000;
         } 
         
            .price-basket-more-detailed a:hover{
            text-decoration: none;
         }
         
  /* ++ Постраничная навигация++*/    
  
 .Pagination{
    display: block;
    height: 35px;
    border-top: 1px solid #dee7ec;
    background-color: #fafbfb;
    margin-top: 40px;
 }   
   .Pagination img{
    position: relative;  /* ++ Выравнивание картинок ++*/ 
    top: 5px;
   
  
   }
    .Pagination p{
        color: #2b8aba;
        display: block;
        margin: 6px 0 0 15px;
    }
    
        .Pagination a{
        font-size: 14px;
         font-family: Verdana, Geneva, sans-serif; /* шрифт*/
          color: #919191;  
          margin-left: 7px;
            
        }
        .Pagination a:hover{
          text-decoration: none;
            
        }
        