.order-registration{
    margin: 20px 260px;
    font-family: Verdana, Geneva, sans-serif; /* шрифт*/
    font-size: 14px;
}
  .order-registration h2{
    text-align: center;
    margin-bottom: 7px;
  }
     .order-registration-table{
        width: 99%;
        
        
        text-align: center;
       padding: 25px 10px;
     }
     
     .order-registration-table tr{

        
     }
     
     .table-tr td{
        height: 35px;
        background-color: #fafbfb;
        
       
        border-bottom: 1px solid #dee7ec;
     }
     
       .table-input{
        width: 50px;
        border: 1px solid #b5b5b5;
        text-align: center;
       }
        
        .order-registration-table span{
        font-size: 18px;  /* размер шрифта*/
        font-family: Candara, Geneva, sans-serif; /* шрифт*/
        }
        
       .phone-div{
        overflow: hidden;text-align: left !important;
        
       }
         .order-registration-table div img{
            float: left;
            margin-bottom: 10px;  
            display: block;
         }
         .order-registration-table div a{ 
            margin-left: 3px;
            color: #2989D8;
            padding-left: 5px;
            
  
         }
         .order-registration-table div a:hover{
            text-decoration: none;
         }
         
.itog {
    height: 35px;
    background-color: #fafbfb;
    width: 96%;
    margin:  auto;
    border-top: 1px solid #dee7ec; 
      
}

  .itog p{
    margin: 5px 20px 0 20px;
  }
  
  .itog p span{
    float: right;
  }
/* способы доставки*/
.order-registration-radio{
    padding-left: 0;
    margin-bottom: 15px;
}
    .order-registration-radio span{
    font-weight: bold;
    }
    
    .order-registration-radio input{
    margin: 10px 0 0 35px;
    }
    
.order-registration-form{
    margin-bottom: 70px;
}
  .order-registration-form h4{
    margin-left: 30px;
  }
  
/* Информация о доставке*/
       .Information-for-delivery {
        width: 95%;
        margin: 10px auto;
        background-color: #fafafa;
        padding: 15px;
        border-radius: 10px ;
                                                        
      }
      
      .Information-for-delivery i{
        font-size: 12px;
        color: #c4c4c4;
      }
      
       .Information-for-delivery input{
         border: 1px solid #cccccc;
        margin: 5px;
        height: 30px;
        padding-left: 7px; /*Отступ внутри input */
        width: 325px;
        
       }
       
        .note-form {
        border: 1px solid #cccccc;
        margin: 5px;
        padding: 7px 0 0 7px; /*Отступ внутри input */
        
        
        height: 55px;
        min-width: 205px;
        max-width: 215px;
        }
         /*кнопка заказа */
         .botton-zakaz{
            margin-left: 30px;
           
         }
         /*Выравние текста вверх */
         .primer{
            vertical-align: top; 
            display: block;
            margin-top: 10px;
         }
        .empty_basket{
            margin: 30px 260px;
            text-align: center;
            
           
        }
        
         