/* 1. ������� ��������� ��� ������� */
*{
    margin: 0;
    padding: 0 ;
}

/* 2. ��������� � �������� �����*/
img{
    border: none;
}

/* 3. ���� ����*/
body{
    background-color: #F2F2F2;
}

/* ������� ����e���*/
.main{
    background-color: #ffffff; /* 3. ���� ������� main*/
    min-width: 980px; /* ����������� ������*/
    max-width: 1200px; /* ������������ ������*/
    margin: 0 auto; /* ������� ������/����� = 0 ������/����� = auto*/
}

/* �������� logo, slogan*/
.logo, .slogan {
    float: left; /* �� ������ ����*/
} 

/* ����� �����*/
.header{
    overflow: hidden; 

/*
�������� overflow-x/overflow-y ������ ��������� ���������� ��� ������������:

visible �� ���������, ���������� �������� �� ������� �����.
hidden-������������� ���������� ��������.
auto-������ ��������� ��� ������������.
scroll- ������ ��������� ������ */
  }  
  
/* ������ �������� logo*/
.logo{
    margin: 8px 0 0 30px; /* ������� ��� �������� logo\ ������- ������-�����-����� */
}

/* ������ �������� slogan*/
.slogan{
    margin: 40px 0 0 30px; /* ������� ��� �������� logo\ ������- ������-�����-����� */
}

/* ������� ����a����*/
.head-contact{
    float: right; /* �� ������� ����*/
    border: 2px solid #E8EFF4;  /* ����� */
    border-radius:0 0 10px 10px; /* ����������� ����� */
    background-color: #F9FAFC; /* ������� ����*/
    text-align: right; /* ����� �� ������� ����*/
    
    margin:0 6px 0 0; /* ������� �������*/
    padding: 10px 65px 5px 15px; /* ������� ������*/
    
    background-image: url(../images/phone-img.jpg); /* �������� �� ��� - ���� �� css*/
    background-repeat: no-repeat; /* ������ �������� -���*/
    background-position: 245px; /* ������������ �������� ������������ ������ �����*/
}

/* ��� ���� ����� p*/
.head-contact p{
    font-size: 12px;  /* ������ ������*/
    font-family: Verdana, Geneva, sans-serif; /* �����*/
    line-height: 1.3 ; /* ����������� ��������*/
    margin: 0 0 3px 0; /* ������ �����*/
}
/* ��� ���� ����� b*/
.head-contact p b{
    font-size: 14px;  /* ������ ������*/
    font-weight: normal;  /* <��� ��������*/
}
/* ��� ���� ����� span*/
.head-contact p span{
     font-size: 21px;  /* ������ ������*/
     font-weight: bold; /* ������*/  
}
/* ��� ������*/
.serh-head{
    float: right;  /* ���������������� ������*/
    background-image: url(../images/poisk-img.jpg); /* ������� ��������*/
    background-repeat: no-repeat; /* ������ �������� -���*/
    /*background-position:left ;  ���������������� ����� ������*/
    
    margin: 5px 5px 5px 0; /* �������*/
    width: 308px; /* ������*/
    height: 32px; /* ������*/
}
.serh-head li{
    float: left; /* ������������ �� ������ ����*/
    list-style: none; /* ������ �������*/   
}
/* ��� ������*/
#quickquery{
    border: none; /* ������ �����*/
    margin: 6px 35px 3px 10px; /* ���������� �������*/
    width: 210px; /* ������*/
    font-size: 12px; /* �����*/
}
/* ������ ������*/
.poisk-buttom{
    margin: 8px 0 0px 0;

}
/* -- ����� ����� --*/


/* ++ ���� - ������ ++*/
.menu{
    background-image: url(../images/menu-bg.jpg);
    background-repeat: repeat-x;
    background-position: top;
    background-color: #016FAA;
    display: table-row; /*������������ ��������, ������� ����������, ��� ������� ������ ���� ������� � ���������.*/ 
    
    min-width: 980px;   /*����������� ������*/
    max-width: 1200px; /*������������ ������*/
}

     .menu li{
        list-style: none;  /* ������ �������*/ 
        display: table-cell; /* ���������, ��� ������� ������������ ����� ������ ������� (��� <td> ��� <th>) */ 
        width: auto;  /* �������������� ������*/ 
        text-align: center; /* ������������ ������ �� ������*/
        height: 50px; /* ������ */ 
        vertical-align: bottom; /*����� ����� ���� �����������  ���� � 2 � ����� ����� ����� ���������� �� ������ ������ */
        border-left: 1px solid #2D9BD1;  /* ����� �����*/
        border-right: 1px solid #065885 ; /* ������ �����*/
        
        background-image: url(../images/podsvetka.png);
        background-position: center top;
        background-repeat: no-repeat;
         width: auto; /* ������ ���������������� �������������*/
         height: 50px;
         
         
        }
          .menu li:hover { /* ��� ���������*/
            background-color: #006197;
            
         }
        
                  /* !������ ������ � ��������� ����������� !*/
                  .menu li:first-child{ /* first-child- ������ �������� �������*/
                    border-left: none;
                  }
                  .menu li:last-child{ /* last-child- ��������� �������� �������*/
                     border-right: none;
                  }
             
             
             .menu li a{
                display: block;  
                /*���������� ��� ����� ������� ������ � ���������� ������� ����� � ������ � � ����� �����������*/
                
                width: 1200px;  /* ������ */ 
                height: 50px;  /* ������ */ 
                vertical-align: middle; /* - ����� �� ������ */
                /*����������� ������� �� ��������� ������������ ������ ��������, ����������� ������ ��� ������ �������.*/
                /*middle - ������������ ������� ����� �������� �� ������� ����� �������� ���� �������� ������ ������������� ��������.*/
                
                display: table-cell; /* ���������, ��� ������� ������������ ����� ������ ������� (��� <td> ��� <th>) */ 
                font-size: 12px;  /* ������ ������*/
                font-family: Verdana, Geneva, sans-serif; /* �����*/
                color: #EEF2F6; /* ���� */
                font-weight: bold; /* ������*/
                text-decoration: none; /* ��� �������������*/   
                }
                /* -- ����� ����! --*/
                
                
/* ++ ���� wraper ++*/
.wraper{
  width: 100%; /* ������ 100% */  
  float: left; /* ������������ �� ������ ���� */ 
  background-color: #ffffff; 


}

 /* ++ ����� ����-��� ++*/
   .saidbar-left{
    float: left;  /* ������������ �� ������ ���� */
    width: 245px; /* ������ */

   }

   
   /* -- ���� wraper --*/
     
 
     


                    
 /* ++ ������� ++*/
 .catalog{
    margin: 6px 0 0 6px; /* ������� */
    background-color: #F7F7F7;
   
 } 
    .h2-catalog{
        height: 35px; /* ������ */
        border-radius: 5px 5px 0 0; /* ����������� */
        
        /* �������� ����-  http://colorzilla.com/gradient-editor/*/
background: #0e91c2; /* Old browsers */
background: -moz-linear-gradient(left, #0e91c2 1%, #2989d8 21%, #207cca 64%, #04588f 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #0e91c2 1%,#2989d8 21%,#207cca 64%,#04588f 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #0e91c2 1%,#2989d8 21%,#207cca 64%,#04588f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e91c2', endColorstr='#04588f',GradientType=1 ); /* IE6-9 */
        }
            /* ������ -������� */
            .h2-catalog a{
               background-image: url(../images/podsvetka-mini.png); /* ��������� ������� ������� �������*/
               background-repeat: repeat-x; /* ������ �� �*/
               
               text-decoration: none;  /* ��� �������������*/
               color: #ffffff;
               font-size: 18px;  /* ������ ������*/
               font-family: Verdana, Geneva, sans-serif; /* �����*/
               font-weight: normal; /* ��� ���������*/
               display: block; /* ������� ������� ���������*/
                padding: 5px 0px 0px  28px; /* ���������� �������*/     
                }
                
 /* ������ -������� */ 
  .new{
    background-image: url(../images/new.jpg); /* ��������*/
    background-repeat: no-repeat; /* ��� �������*/ 
    height: 35px; /* ������*/
    border-bottom: 1px solid #E1E1E1; /* ������ �����*/
    border-top: 1px solid #ffffff; /* ������� �����*/
  }
  
     .catalog h3 a{
        text-decoration: none; /* ��� �������������*/
        color: #000000;
        font-size: 14px;  /* ������ ������*/
        font-family: Verdana, Geneva, sans-serif; /* �����*/
        display: block; /* ������� ������� ��������*/
        padding: 8px 0px 0px  40px; /* ���������� �������*/ 
     }
     
     .catalog h3 a:hover{ /* ������ ��� ���������*/
       color: #04588F;
        
     }
  
     
     
     
  /* ������ -������ ������ */ 
  .lider{
    background-image: url(../images/progr.jpg); /* ��������*/
    background-repeat: no-repeat; /* ��� �������*/
    height: 35px; /* ������*/
    border-bottom: 1px solid #E1E1E1; /* ������ �����*/
    border-top: 1px solid #ffffff; /* ������� �����*/
  }
  
  /* ������ -���������� */ 
  .sali{
    background-image: url(../images/proc.jpg); /* ��������*/
    background-repeat: no-repeat; /* ��� �������*/
    height: 35px; /* ������*/
    border-bottom: 1px solid #E1E1E1; /* ������ �����*/
    border-top: 1px solid #ffffff; /* ������� �����*/   
  }
  
  
  
  /* ++ ��������� ��������++*/ 
.mobilki{
    margin: 0 0 0 6px; /* ������� */
    background-color: #F7F7F7;
    border-top: 1px solid #ffffff; /* ������� �����*/ 
    border-bottom: 1px solid #E1E1E1; 
}
        .h2-mobilki {
        height: 35px; /* ������ */
        
        
        /* �������� ����-  http://colorzilla.com/gradient-editor/*/
background: #0e91c2; /* Old browsers */
background: -moz-linear-gradient(left, #0e91c2 1%, #2989d8 21%, #207cca 64%, #04588f 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #0e91c2 1%,#2989d8 21%,#207cca 64%,#04588f 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #0e91c2 1%,#2989d8 21%,#207cca 64%,#04588f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e91c2', endColorstr='#04588f',GradientType=1 ); /* IE6-9 */
        
        }
    
            .mobilki h2 a{ /* �������� ��� ������ */
               background-image: url(../images/podsvetka-mini.png); /* ��������� ������� ������� �������*/
               background-repeat: repeat-x; /* ������ �� �*/
               
               text-decoration: none;  /* ��� �������������*/
               color: #ffffff;
               font-size: 14px;  /* ������ ������*/
               font-family: Verdana, Geneva, sans-serif; /* �����*/
               font-weight: bold; /* ������*/
               
               display: block; /* ������� ������� ���������*/
               padding: 8px 0px 0px  15px; /* ���������� �������*/     
                }   
                
        .spisok{
        margin-left: 55px; /* ������ ������� �����*/
        font-family: Verdana, Geneva, sans-serif; /* �����*/
        font-weight: normal; /* ��� ���������*/
        padding-top: 5px /* ������ ���������� ������ */
        }       
        
             .spisok li{
              margin-bottom: 5px;   /* ������ �������� ������*/
              
             }
             
              ul li{
                list-style-position: outside;
             }
             
             .spisok-ul-li{
                list-style: none;
             }
             /* ��� ������*/
             .spisok a{
                 text-decoration: none; /* ��� �������������*/
                 color: #000000;   
             }
             
             /* ������ ��� ��������� */
             .spisok a:hover{ 
                 color: #2989D8;   
             }
             
                    .spisok-2{
                        list-style: none; /* ��� ������-�������*/
                        padding-left: 10px; /* ����������-����� ������*/
                    }
        
        
        /* ++ ����� ������++*/        
        
.work-mode{
    border-top: 1px solid #ffffff; /* ������� �����*/ 
    border-bottom: 1px solid #E1E1E1;   /* ������ �����*/ 
    padding-bottom: 20px; /* ����������-������ ������*/
    background-color: #F7F7F7;
    margin-left: 6px;
}     
    .work-mode p{
        margin-left: 17px; /* ��������-����� ������*/
        font-family: Verdana, Geneva, sans-serif; /* �����*/
        
    }
    .contact {
        font-size: 18px; /* ������ ������*/
        margin-top: 15px; /* ��������-������� ������*/
    }
    
    .telefon{
     font-size: 14px; /* ������ ������*/
     font-weight: bold;   /* ������*/
        
    }
            .telefon span{
                font-size: 18px;/* ������ ������*/
            }
            
    
    /* ++ �������++*/
    
.news{
    background-color: #F7F7F7;
    margin-left: 6px;
    border-top: 1px solid #ffffff; /* ������� �����*/ 
    border-bottom: 1px solid #E1E1E1;   /* ������ �����*/ 
    font-family: Verdana, Geneva, sans-serif; /* �����*/
    padding:0 0 13px 15px ;
    
}
/*������ ��� ���������*/
 .news a:hover{
    color: #2989D8;
    text-decoration: none; /* ��� �������������*/
 }
     
     .news h3 {
        font-size: 18px; /* ������ ������*/
       
        font-weight: normal;
        color: #000000;
        padding: 17px 0  13px 0;
    
     }
     .news p{
      padding: 5px 10px 15px 0;
       
     }
     
     .news  span{
       font-size: 10px;  /* ������ ������*/
       background-color: #E7E7E7;
       text-decoration: underline;   /* ������������� ������*/
       padding: 4px 9px 2px 5px;  /*�������*/
  
     }
     
     .news  a{
        font-size: 12px;  /* ������ ������*/
        color: #555555;
    
     }
     .batton {
        border: 1px solid #ffffff;
        
        /* ++ ������ ++*/
   /* ���� - � �����: http://css3pie.com/ */
        padding: 32px 0; /*�������*/
        text-align: center; /* ����� ������������ */
        width: 130px; /* ������ */
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px; /* ����������� */
        -webkit-box-shadow: #666 0px 0px 3px;
       -moz-box-shadow: #666 0px 0px 3px;
        box-shadow: #666 0px 0px 3px;
        background: #EAEAEA; /* ���� */
        behavior: url(/pie/PIE.htc);
        }
              .batton a{
                display: block; /* ������ ������� ������ ����� MARGIN �� �������� */
                margin-top: 5px ;
                 }
    
    
    /* ++ �������-������ ++*/   
.payment-method{
    border-top: 1px solid #ffffff; /* ������� �����*/ 
    border-bottom: 1px solid #E1E1E1;   /* ������ �����*/ 
    padding-bottom: 30px; /*������ ����������-������*/
    background-color: #F7F7F7;
    margin-left: 6px; /*������ ��������-�����*/
}        

        .payment-method p{
            font-size: 18px; /* ������ ������*/
            font-family: Verdana, Geneva, sans-serif; /* �����*/
            margin: 20px 0 0 20px; /*������� ��������*/
        }     
        
        .payment-method li{
            list-style: none; /*��� ������� �������*/
            margin: 7px 0 0 25px; /*������� ��������*/
           
        }
        
        .payment-method a{
            color: #636363;
            font-size: 12px; /* ������ ������*/
            font-family: Verdana, Geneva, sans-serif; /* �����*/
        }
        .payment-method a:hover{
          color: #2989D8;    
        }
        
/*----------------------�� ������������-----������---------------------------------------------*/
  /* ++ ��������: ++*/        
.delivery{
    background-color: #F7F7F7;
    margin-left: 6px; /*������ ��������-�����*/
    border-bottom: 1px solid #E1E1E1; /* ������ �����*/ 
    padding-bottom: 30px; /*������ ����������-������*/
} 

      .delivery p{
        font-size: 18px; /* ������ ������*/
        font-family: Verdana, Geneva, sans-serif; /* �����*/
        padding: 20px 0 0 20px; /*������� ��������*/
       }
      .delivery li{
        list-style: none; /*��� ������� �������*/
        margin: 7px 0 0 25px; /*������� ��������*/
      }
        .delivery li a{
        font-size: 12px; /* ������ ������*/
        font-family: Verdana, Geneva, sans-serif; /* �����*/
        color: #636363; 
      }
      .delivery li a:hover{
        color: #2989D8;  
      }
      

/* ++ ���������� ��� ���:++*/ 
.information{
    background-color: #F7F7F7; 
    margin-left: 6px;   /*������ ��������-�����*/ 
    padding-bottom: 30px; /*������ ����������-������*/
}
       .information p{
        font-size: 18px; /* ������ ������*/
        font-family: Verdana, Geneva, sans-serif; /* �����*/
        padding: 20px 0 0 20px; /*������� ��������*/
       }
       
      .information li{
        list-style: none; /*��� ������� �������*/
        margin: 7px 0 0 25px; /*������� ��������*/
      }
      
        .information li a{
        font-size: 12px; /* ������ ������*/
        font-family: Verdana, Geneva, sans-serif; /* �����*/
        color: #636363;
        }
        .information li a:hover{
            color: #2989D8;  
        }
/*----------------------�� ������������---- �����----------------------------------------------*/
                
                
/* ++ ������� ++*/
.content{
background-color: #ffffff;
   /*float: left;   ���� ��������� ������������ �� ������ ����- �� ����� ������������ ��� 
   width: auto; */
 }      
     
     .obl-cont{
        overflow: hidden; /*����� ������ ����� ����������� flov ����� ��������� 
        overflow: hidden*/

        margin: 0 250px; /* ������ �����-������ 255px */ 
        background-color: #ffffff;    
        text-align: center;   /*����� �� ������*/
        
          
     } 
     .obl-cont h1{
       color: #0284C8; 
       padding: 17px; /*������� �����*/
       font-size: 26px;/*������  ������*/
       font-family: Verdana, Geneva, sans-serif; /* �����*/
       font-weight: normal; /* �� ������*/ 
     }
     
     .teleffon{
        text-align: center; /*����� �� ������*/
        
        width: 50%; /*������ 50%*/
        float: left; /*������������ �� ������ ����*/
        margin-bottom: 60px;   /*������� ������� ���*/
     } 

         .telefon-a {
         color: #2B8ABA;
         font-size: 14px;/*������  ������*/
         display: block; /* ������� ������� ���������*/
         margin: 15px 0 8px 0; /*������� �������*/
         }
            /* ������ ��� ���������*/ 
            .telefon-a:hover {
            text-decoration: none; 
             }
         
             .teleffon p span{
             font-size: 12px;/*������  ������*/
             font-family: Verdana, Geneva, sans-serif; /* �����*/ 
         }
         
              .teleffon p{
             font-size: 30px; /*������  ������*/
             font-family: Candara, Geneva, sans-serif; /* �����*/ 
             display: block; /* ������� ������� ���������*/
             margin-bottom: 5px; /*������� ������� ���*/
             font-weight: normal; /* �� ������*/
         
          }
          
          
          
          
          /* ++ ������ ����-��� ++*/
   .saidbar-ridhe{
     background-color: #ffffff;
     
     float: left;/* ������������ �� ������ ����*/   
     width: 245px; /* ������*/
     margin-left: -247px ;   /* ������ ����� �� - 247px*/  
     }
     
     
      /* ++ ����������� + ������� ++*/
       .autoresize {
        background-color: #F9FAFC;
        margin: 6px 6px 0 0;
        text-align: center;
        line-height: 1.7;
       }
         
         #autores{
            padding: 10px 0 20px 20px;
         }
         #autores a{
            display: block;
            margin-top: 10px;
            font-family: Verdana, Geneva, sans-serif;
            color:#2B8ABA;
            font-size: 12px;/*������  ������*/
         }
         
         #autores a:hover{
            text-decoration: none;
         }
       .knopca-autores{
        height: 25px;
        border: 1px solid #b5b5b5;
        border-radius: 2px; 
          font-family: Verdana, Geneva, sans-serif; /* �����*/
        
      }
      .knopca-autores:hover{
        background-color: #fff ;
      }
     
       .autoresize h2{
        font-size: 18px; /* ������ ������*/
        font-weight: normal; /* ��� ��������*/
        font-family: Verdana, Geneva, sans-serif; /* �����*/
        
        display: block; /* ������� ������� ���������*/
        border-radius: 5px 5px 0 0 ; /* �����������*/
        height: 35px;  /* ������*/
     
        /* �������� ����-  http://colorzilla.com/gradient-editor/*/
background: #0e91c2; /* Old browsers */
background: -moz-linear-gradient(left, #0e91c2 1%, #2989d8 21%, #207cca 64%, #04588f 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #0e91c2 1%,#2989d8 21%,#207cca 64%,#04588f 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #0e91c2 1%,#2989d8 21%,#207cca 64%,#04588f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e91c2', endColorstr='#04588f',GradientType=1 ); /* IE6-9 */
        
       }
     
     
           .autoresize h2 a{
            color: #ffffff;
            padding: 5px 0 0 25px; /* ������� ����������*/
            text-decoration: none;  /* ��� ��������������*/
            display: block; /* ������� ������� ���������*/
           }
           
              .autoresize img{
               display: block; /* ������� ������� ���������*/
                padding: 16px 30px; /* ������� ����������*/
              }
                 
                 
                 .autoresize span{
                    color: #2C88B9;
                    
                 } 
                    .autoresize p{
                        padding: 20px 0 10px 16px;/* ������� ����������*/
                        font-size: 14px;  /* ������ ������*/
                        font-family: Verdana, Geneva, sans-serif; /* �����*/
                    }
                    
/* ++ ����� �� ���������� ++*/
.parameter-selection {
        background-color: #F9FAFC;
        margin: 6px 6px 0 0; /* �������*/
       }
     
       .parameter-selection h2{
        font-size: 18px; /* ������ ������*/
        font-weight: normal; /* ��� ��������*/
        font-family: Verdana, Geneva, sans-serif; /* �����*/
        color: #000000;
        display: block;  /* ������� ������� ���������*/
        height: 35px;  /* ������*/

/* �������� ����-  http://colorzilla.com/gradient-editor/*/
background: #0e91c2; /* Old browsers */
background: -moz-linear-gradient(left, #0e91c2 1%, #2989d8 21%, #207cca 64%, #04588f 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #0e91c2 1%,#2989d8 21%,#207cca 64%,#04588f 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #0e91c2 1%,#2989d8 21%,#207cca 64%,#04588f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e91c2', endColorstr='#04588f',GradientType=1 ); /* IE6-9 */
        
       }
       
       .parameter-selection h2 a{
            color: #ffffff;
            padding: 5px 0 0 25px; /* ������� ����������*/
            text-decoration: none;  /* ��� ��������������*/
            display: block;  /* ������� ������� ���������*/
           }
          
          
          .form{
            padding: 6px 0 0 9px; /* ������ ������ */
            font-size: 14px;  /* ������ ������*/
            font-family: Verdana, Geneva, sans-serif; /* �����*/
         }  
         
             .form p{
            
            font-size: 12px;  /* ������ ������*/
            margin-top: 5px; /* ������ ������� ������*/
         }
     
            .input-text{
                width: 60px; /* ������*/
                text-align: right; /* ������������ ������*/
                padding-right: 8px; /* ������ ������ ������*/
            }
            
            .select{
               width: 215px; /* ������ */
               height: 22px; /* ������ */
               margin-top: 5px; /* ������ ������� ������*/
            }
            
            .input-image{
            display: block; /* ������� ������� ���������*/
            padding: 25px 25px;/* ������ ������� */
             }
             
  /* ++ ����� ++*/           
.footer{
    
    background-image: url(../images/footer.jpg);
    background-repeat: repeat-x;
   
    overflow: hidden;
    background-color: #0B81B1;
    height: 139px;
    font-family: Verdana, Geneva, sans-serif; /* �����*/
    color: #AAC6D2;
    clear: both; /* �������� ��������� ������ �������� - ���� ����������������!!!*/  
    
}
.footer-1{
    float: left; /* �������� �����*/
    width: 33%; /* ������ 33%*/
    border-right: 1px solid #0775a5;
    }
      .internet-magazin{
        padding: 35px 0 0 15px;
      }
    
         .internet-magazin span{
          font-size: 20px;
          }

.footer-2{
   
    float: left;
    width: 33%; /* ������ 33%*/
    height: 100%;
    font-size: 14px;
    border-left: 1px solid #37a7d5; /* ����� �����*/
    border-right: 1px solid #0775a5;
}

   .menu-footer {
    font-weight: bold; 
    padding: 20px 0 0 20px;
    text-align: center;
   }
     .menu-footer span{
        display: block;
        text-align: center; /* ����� �� ������ */
        font-size: 16px;      
     }
     .ul-1{
        width: 50%;
        padding-top: 5px;
        float: left;
        text-align: right;
        
        
     }
     .ul-2{
        margin-top: 5px;
        
     }
       .menu-footer li{
        text-align: left;
        display: block;
        list-style: none;

        }
        
        .menu-footer a{
          color: #AAC6D2; 
          font-weight: normal;
        }
        
           .menu-footer a:hover{
            color: #ffffff; 
            text-decoration: none; /* ��� �������������*/
            font-weight: bold; /* ������*/
            }


.footer-3{
    padding-top: 16px;
    height: 100%;
    float: left;
    width: 33%; /* ������ 33%*/
    text-align: right;
    border-left: 1px solid #37a7d5; /* ����� �����*/
}

   .head-contact-footer span{
    font-size: 18px;
    font-weight: bold;
    }
    
        .head-contact-footer p{
          font-size: 14px;  
        }
           .head-contact-footer h5{
            font-size: 12px;
            }
        
  /*-------------------------------------------------��������� ���-----------------------------------*/
  .puta{
   overflow: hidden; /* �������� overflow ��������� ������������ ���������� �������� ��������, 
                      ���� ��� ������� �� ���������� � ������� �� ������� �������� ��������. */
   margin: 40px 0 30px 0;
}

.tabl-vid-phone{
    float: left; /* ����� ����������� -������ ����� .puta*/
    width: 33%; /* ������ 33%*/
    font-size: 12px;
    font-family: Verdana, Geneva, sans-serif; /* �����*/
    text-align: center; /* ������������ ������ �� ������*/
    margin-bottom: 40px
    }
    
    
    .tabl-vid-phone p a{
        color: #888888;
    }
    
        .tabl-vid-phone a:hover{
         text-decoration: none;  /* ��� ������������� */
         }
         
         
     .tabl-vid-phone h4 a {
        color: #2b8aba;
        font-size: 12px;
        font-family: Verdana, Geneva, sans-serif; /* �����*/
        font-weight: normal; /* ��� �������� */
     } 
     
           
           
        .tabl-vid-phone span{
         font-size: 24px;
         font-family: Candara, Geneva, sans-serif; /* �����*/
         font-weight: normal;    /* ��� �������� */
        }
    
            .tabl-vid-phone img{
             margin-top: 5px;
            }
    
    
      .bloc-c-image-phone{
        margin: 15px auto;
        position: relative; /* position - ������������� ������ ���������������� �������� 
                            ������������ ���� �������� ��� ������ �������� �� ���-��������. 
                            
                            relative -��������� �������� ��������������� ������������ ��� ��������� �����. 
                            ���������� ������� left, top, right � bottom �������� ������� �������� � �������� 
                            ��� � �� ��� ���� ������� �� ��������������� ������������.  */
      }
                       
                     
               .tabl-ico {
                    position: absolute;  /* absolute - ���������, ��� ������� ��������� ��������������, ��� ���� ������ ��������
                                          ������������ �� ���-�������� ������ ��������� ������������������ �������� � ���. 
                                          ��������� �������� �������� ���������� left, top, right � bottom, ����� �� ��������� 
                                          ������ �������� �������� position ������������� ��������.*/
                    top: 0;  
                    right: 0;
                    
               }   
               
                       .tabl-ico img{
                       display: block;
                       }
 /*-------------------------------------------------��������� ���- �����-----------------------------------*/     
 
  /*-------------------------------------------------�������� ���- -----------------------------------*/ 
 .content-line-vid{
    font-size: 14px;
    font-family: Verdana, Geneva, sans-serif; /* �����*/
    padding: 25px 260px;
    

}

/* ������� ������*/
   .crochca{
    display: block;
   
   }
     .crochca a{
        color: #565656;
     }
        .crochca a:hover{
            text-decoration: none;
        }
     
            .crochca span{
              color: #579dc3;  
            }
            
            
/* ����������*/      
.sort{
       background-color: #fafbfb; 
       display: block;  
       margin-top: 20px; 
       color: #bbbbbb;      
       position: relative;
}
/* ����������*/
.sort_hidden{
   border: 1px solid #DEE7EC; 
   padding: 7px;
   background-color: #FCFCFC;
   position: absolute;
   left: 220px;
   top: 45px ;
   z-index: 45;
   visibility: hidden;
   
 }
 .sort_hidden a{
    color: #2B8ABA; text-decoration: none;
 }
 .sort_hidden a:hover{
    color: #000; 
    text-decoration: ;
 }

  .vid{ /* ���������������� ��������*/
   
   /* relative-��������� �������� ��������������� ������������ ��� ��������� �����. ���������� ������� left, top, right � bottom 
    �������� ������� �������� � �������� ��� � �� ��� ���� ������� �� ��������������� ������������. */
    
   top: 3px;
    } 
    
     .sort span{
        margin-left: 10px;
     }
  
        .sort-bot{ /* �������� �� ��� ���������*/
          background-image: url(../images/sort-bot.gif);
          background-repeat: no-repeat;
          background-position: left 5px ; 
          /* background-position: ������ ��������� ��������� �������� �����������, �������������� � ������� �������� background-image.
             � �������� background-position ��� ��������, ��������� �� ����������� (����� ���� � left, center, right) � ��������� 
            (����� ���� � top, center, bottom) */
          padding: 0 0 0 15px;
         }
         
         
         .sort-top{
          background-image: url(../images/sort-top.gif);
          background-repeat: no-repeat;
          background-position: left 5px ; 
          padding: 0 0 0 15px; 
         }
         
         .sort-top-act{
          background-image: url(../images/sort-top-act.gif);
          background-repeat: no-repeat;
          background-position: left 5px ; 
          padding: 0 0 0 15px;  
         }
  
            .sort p{
             padding: 10px;
             display:block;
             margin-top: 10px ;
             border-bottom: 1px solid #dee7ec;
             font-size: 12px;
             }
     
                .sort p a{
                color: #2B8ABA;
                font-size: 14px;
                
                 }
         
                 .sort p a:hover{
                 color: #000000;  
                  }
               
/* ++ ����� � ��������� ++*/              
.text-c-silkoy{
    margin-bottom: 35px;
    overflow: hidden;
    
}                  
        /* Div- �������� ��������*/
     .image-mini-phone{
     float: left;
     margin-right: 10px;
        }
        
        /* �����*/
     
     .mini-description {
       padding: 0 140px 0 60px; /* �������*/
      font-size: 12px;
      font-family: Verdana, Geneva, sans-serif; /* �����*/
      }
      
          .mini-description a{
           color: #2b8aba;

             }

        /* ���� + ������� + �����������*/     
      .price-basket-more-detailed{
       float: right;
       margin-left: 5px;
      }
      
        .price-basket-more-detailed p{
         font-size: 24px; 
         padding: 0;
         font-family: Candara, Geneva, sans-serif; /* �����*/
         }
         
         .price-basket-more-detailed p span{
         font-size: 12px;
         font-family: Verdana, Geneva, sans-serif; /* �����*/
         line-height: ;
         }
         
         .img-opisanie{
            height: 25px; /* ���� �� ����� ������� ��������- ������������� ������*/
         }
         
         .add-to-cart{
            margin: 3px 0;
            width: 123px;
            height: 27px;
         }
         
         .ico-line-lider{
            margin: 0 7px;
         }
         
         .price-basket-more-detailed a{
            color: #000000;
         } 
         
            .price-basket-more-detailed a:hover{
            text-decoration: none;
         }
         
  /* ++ ������������ ���������++*/    
  
 .Pagination{
    display: block;
    height: 35px;
    border-top: 1px solid #dee7ec;
    background-color: #fafbfb;
    margin-top: 40px;
 }   
   .Pagination img{
    position: relative;  /* ++ ������������ �������� ++*/ 
    top: 5px;
   
  
   }
    .Pagination p{
        text-align: center;
        color: #2b8aba;
        display: block;
        margin: 9px 0 0 15px;
        
    }
    
        .Pagination a{
        font-size: 14px;
        font-family: Verdana, Geneva, sans-serif; /* �����*/
        color: #919191;  
        margin: 7px;
        padding: 0 5px;
        text-decoration: none;
        border: 1px solid #dee7ec;
        
          
            
        }
        .Pagination a:hover{
            background-color: #2b8aba ;
          border: 1px solid #dee7ec;
          color: #ffffff;
          
          
            
        }       
/*-------------------------------------------------�������� ���- �����-----------------------------------*/  

              
/*-------------------------------------------------�����������-----------------------------------*/ 
.order-registration-reg{
    margin: 20px;
    font-family: Verdana, Geneva, sans-serif; /* �����*/
    overflow: hidden; /*����� ������ ����� ����������� flov ����� ��������� 
        overflow: hidden*/

        margin: 0 260px;
}
  .order-registration-form-reg h4{
    
    margin: 40px  0 0 20px;
  }
     .order-registration-table-reg{
      
        width: 95%;
        text-align: center;
        margin:  auto;
     }
     
     .order-registration-table-reg tr{

        
     }
     
     .table-tr td{
        height: 35px;
        background-color: #fafbfb;
        
       
        border-bottom: 1px solid #dee7ec;
     }
     
       .table-input{
        width: 35px;
        border: 1px solid #b5b5b5;
        text-align: center;
       }
        
        .order-registration-table-reg span{
        font-size: 24px;  /* ������ ������*/
        font-family: Candara, Geneva, sans-serif; /* �����*/
        }
        
         
         
      .Text-reg-error{
        margin: 35px 0 0 35px;
        color: #CA0707;
        
      }  
      .Text-reg-error-1{
        margin: 35px 0 0 35px;
        color: #CA0707;
        text-align: center;
        }
       .Text-reg-error-reg{
        color: #CA0707;
       }
       
       .Text-reg-sucsess{
        margin: 35px 0 0 35px;
        color: #619A05;
       }
       .sucsess_inform{
        margin: 0 260px;
        text-align: center;
        color: #619A05;
         font-size: 18px;  /* ������ ������*/
        font-family: Candara, Geneva, sans-serif; /* �����*/
       }
      
      .knopca{
        margin-left: 35px;
        height: 25px;
        border: 1px solid #b5b5b5;
        border-radius: 2px; 
          font-family: Verdana, Geneva, sans-serif; /* �����*/
        
      }
      .knopca:hover{
        background-color: #fff ;
      }

  
/* ���������� � ��������*/
       .Information-for-delivery-reg {
        width: 95%;
        margin: 10px auto;
        background-color: #fafafa;
        padding: 15px;
        border-radius: 10px ;
      }
      .Information-for-delivery-reg1{
        width: 95%;
        margin: 10px auto;
        background-color: #fafafa;
        padding: 15px;
        border-radius: 10px ;
              
      }
      
      .Information-for-delivery-reg i{
        font-size: 12px;
        color: #c4c4c4;
      }
      
       .Information-for-delivery-reg input{
         border: 1px solid #cccccc;
        margin: 5px;
        height: 25px;
        padding-left: 7px; /*������ ������ input */
        width: 205px;
        
       }
       
        
         /*������ ������ */
         
         /*�������� ������ ����� */
         
         
    
  
/*-------------------------------------------------�����������-�����----------------------------------*/ 
/*++++++ ����� +++++ */
 .searh_phone{
    text-align: center;
    margin: 20px 0  25px 0;
  } 
/*++++++ ����� +++++ */   
/* ������� �������� */
.item_gallery{
   padding: 10px 0 20px;
   margin-bottom: 25px;
}
.item_img{
   position: relative;
   text-align: center;
   height: 300px;
   background: url(../images/ajax-loader.gif) no-repeat center 49%;
}

.item_img img{
   max-width: 650px;
}
.item_thumbs{
   margin-top: 50px;
}
.item_thumbs a{
   margin: 0 10px 10px 0;
}
.item_thumbs img{
   /*width: 45px;*/
   padding: 4px;
   border: 2px solid #B2B2B2;
}
.item_thumbs a:hover img,
.item_thumbs a.active img{
   border: 2px solid #666;
}
/* ������� �������� */

.serch-navig{
    clear: left;
    
}